.App {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8)),
    url('./assets/bgimg3.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  z-index: -2;
}


